body {
    padding: 2rem 0rem;
}

.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    margin-bottom: 0.3rem;
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
font-size: 0.8rem;
}

.card-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}